#wrapper {
    max-width: 425px;
    margin: 2em auto;
}

h1 {
    font-size: 26px;
    text-align: center;
}

#nav {
    margin-bottom: 1em;
    text-align: center;
    list-style-type: none;
    margin: 0 0 3em 0;
}

#nav li {
    display: inline;
    margin-right: 5em;
}

#nav li.last {
    margin: 0;
}

#handle {
    cursor: move;
    padding: 0 0 15px;
    position: relative;
}

#handle .pull_left {
    text-align: right;
    margin-left: -3em;
    font-size: 5em;
    color: #DDD;
}

#handle .done {
    position: relative;
    top: -1em;
}

#handle .todo {
    position: relative;
    top: 1em;
}

#handle .decorative {
    position: absolute;
    top: 14px;
    height: 7px;
    width: 99%;
    border: 2px solid #919191;
    background-color: #F0F0F0;
    z-index: -1;
}

.tasks {
    list-style-type: none;
    margin: 0;
}

.tasks button {
    margin-left: 7px;
}

.tasks .done {
    color: #24BD24;
}

.add_task input {
    width: 97%;
}

.selected {
    text-decoration: underline;
}

a.noclick {
    color: #aaa;
    cursor: default;
}
a.noclick:hover {
    text-decoration:none;
}

/* Smartphone */
@media screen and (max-width: 425px) {
    #wrapper {
        max-width: none;
        width: 100%;
    }
    .tasks {
        margin: 0 1em;
    }
}