#wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.nav,
.tasks,
.actions {
    max-width: 425px;
    margin: 0 auto;
}

.nav {
    margin: 1em auto;
}

#top_header {
    background-color: orange;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 37px;
}
h2 {
    font-size: 23px;
}

.nav {
    position: relative;
}

.today {
    position: absolute;
    left:40%;
}

#handle {
    cursor: row-resize;
    padding: 0 0 15px;
    position: relative;
}

#handle .pull_left {
    text-align: right;
    margin-left: -3em;
    font-size: 5em;
    color: #DDD;
}

#handle .done {
    position: relative;
    top: -1em;
}

#handle .todo {
    position: relative;
    top: 1em;
}

#handle .decorative {
    position: absolute;
    top: 14px;
    height: 7px;
    width: 99%;
    border: 2px solid #919191;
    background-color: #F0F0F0;
    z-index: -1;
}

.task p,
.task .edit {
    margin-left: 12px;
}

.task p {
    padding: 3px 19px;
    margin-bottom: 9px;
    line-height: 20px;
}

.task input[type="checkbox"] {
    margin-top: 8px;
}

.tasks {
    list-style-type: none;
}

.tasks .well {
    padding: 6px 19px 0px 19px;
    margin-bottom:14px;
}

.tasks button {
    margin-left: 7px;
}

.tasks .done {
    color: #24BD24;
}

.add_task input {
    width: 97%;
}