#wrapper {
    max-width: 35em;
    margin: 0 auto;
}

.tasks {
    list-style-type: none;
}

#drag_handle {
    cursor: move;
    padding: 0 0 15px;
}

.tasks .done {
    color: #24BD24;
}

/* Smartphone */
@media screen and (max-width: 640px) {
    #wrapper {
        max-width: none;
        width: 100%;
    }
    .tasks {
        margin: 0 1em;
    }
}